@page "/admin/assign-user-role/{id}"
@model MusicStore.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Gán Role";
}
<section class="events-section latest-events sponsors-section default-section margin-bott-20 margin-top-20">
    <div class="auto-container">
        <div class="row clearfix">
            <div style="padding: 30px 0px 40px;">
                <div class="column  with-margin col-md-6 col-sm-12 col-xs-12">
                    <div class="inforform margin-bott-30" style="box-shadow: 0 0 20px rgb(0 0 0 / 0.3);">
                        <h4>Thiết lập role cho người dùng:<strong class="text-secondary"> @Model.user?.UserName</strong></h4>
                        <partial name="_StatusMessage" for="StatusMessage" />
                    </div>
                    <article class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inforform" style="box-shadow: 0 0 20px rgb(0 0 0 / 0.3);">
                            <div class="forminfor">
                                <form id="set-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-group mb-3">
                                        <h4> <label asp-for="RoleNames" class="form-label"></label></h4>
                                        @Html.ListBoxFor(m => m.RoleNames, @Model.allRoles, new
                                            {
                                                id = "id-select-roles",
                                            })
                                        <span asp-validation-for="RoleNames" class="text-danger"></span>
                                    </div>
                                    <div class="display:flex; margin-right-10;">
                                        <button type="submit" class="btn btn-lg btn-info">Cập nhật</button>
                                        <a class="btn btn-lg btn-primary" asp-page="./Index">Danh sách thành viên</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column  with-margin col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inforform" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);">
                            <div class="forminfor">
                                <p>
                                    Các claim của user có được từ role:
                                </p>

                                @if (Model.claimsInRole.Count > 0)
                                {
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên Claim</th>
                                                <th>Giá trị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var claim in Model.claimsInRole)

                                            {
                                                <tr>
                                                    <td>@claim.ClaimType</td>
                                                    <td> @claim.ClaimValue</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                                <p>
                                    Các claim riêng:
                                    <a class="btn btn-info" asp-page="./EditUserRoleClaim" asp-page-handler="AddClaim" asp-route-userid="@Model.user.Id">Thêm claim riêng</a>
                                </p>

                                @if (Model.claimsInUserClaim.Count > 0)
                                {
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên Claim</th>
                                                <th>Giá trị</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var claim in Model.claimsInUserClaim)

                                            {
                                                <tr>
                                                    <td>@claim.ClaimType</td>
                                                    <td> @claim.ClaimValue</td>
                                                    <td><a class="btn btn-info" asp-page="./EditUserRoleClaim" asp-page-handler="EditClaim" asp-route-claimid="@claim.Id">Chỉnh sửa</a></td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery.multi-select.js"></script>
    <link rel="stylesheet" href="~/css/multiple-select.css" />
    <script type="text/javascript">
        $(function () {
            $('#id-select-roles').multiSelect();

        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
